body {
    height: 200vh;
}

.landing {
    height: 100vh;
    min-height: 500px;
    /*background-image: url('');*/
    background-color: #212529;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@font-face {
    font-family: 'HalfRegular';
    src: url('../fonts/HalfRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.font-half-regular {
    font-family: HalfRegular, sans-serif;
}

nav.navbar {
    background: rgb(241, 241, 241);
    background: rgba(241, 241, 241, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.navbar button.navbar-toggler {
    border: none;
}
